body{
    background: linear-gradient(rgb(44, 43, 43),rgb(3, 53, 128), rgb(7, 86, 206), rgba(72, 143, 248, 0.333),
    rgb(3, 53, 128), rgb(7, 86, 206),rgba(72, 143, 248, 0.333), rgb(43, 53, 58));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#inicio{
    width: 100%;
    background-color: rgb(76, 74, 168);
}
#texto1{
    color: rgb(10, 10, 10);
    font-size: 2.9em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.p_texto1{
    color:yellowgreen;
}    
.p_texto1:hover{
    color: white;
}
#p_inicio{
    font-size: 20px;
}
#p_inicio:hover{
    font-size:30px;
    transition: 0.5;
}
#Texto1{
    background-color: rgb(125, 131, 224);
    width:80%;
    float: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    text-align: justify;
}
#p_texto1{
    text-align: center;
    margin-bottom: 2em;
}
#imagen1{
    width:20%;
    float: right;
}
#separacion{
    clear: both;
}
#texto2{
    width:75%;
    float:left;
    font-size: 200%;
    text-align: justify;
}
#p_texto2{
    text-align: center;
    margin-bottom: 2em;
    padding-left: 10px;
}
#Texto3{
    background-color: rgb(125, 131, 224);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
#p_texto3{
    color: rgb(73, 73, 73);
    font-weight: bolder;
    text-align: left;
    margin-bottom: 2em;
}
#p_texto3:hover{
    background-color: black;
    transform: 0.5;
}
#imagen2{
    width: 25%;
    float: left;
}
#video1{
    display: flex;
    flex-direction:column;
    background-color: rgb(125, 131, 224);
}
.video{
    padding-left: 10px;
    align-self:center;
}
.imagenes{
    width: 450px;
}
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: grey;
    margin-top: 10px;
    font-size: 25px;
    font-style:oblique;
    justify-content: center;
}
.p_final{
    padding-left: 10px;
    padding-right: 10px;
}
.contendor-botones{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btnVolver{
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: 900;
    border-radius: 3px;
    border:  solid  white 3px;
}